<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>RykerERS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>rykerers.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MasterServletAction</display-name>
    <servlet-name>MasterServletAction</servlet-name>
    <servlet-class>com.servlets.MasterServletAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServletAction</servlet-name>
    <url-pattern>/action/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MasterServletJSON</display-name>
    <servlet-name>MasterServletJSON</servlet-name>
    <servlet-class>com.servlets.MasterServletJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServletJSON</servlet-name>
    <url-pattern>/json/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MasterServletWeb</display-name>
    <servlet-name>MasterServletWeb</servlet-name>
    <servlet-class>com.servlets.MasterServletWeb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServletWeb</servlet-name>
    <url-pattern>/MasterServletWeb</url-pattern>
  </servlet-mapping>
</web-app>