@charset "ISO-8859-1";
.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 3px solid red;
	text-align: center;
}

form{
	border: 2px solid black;
	padding: 10px;
	margin: 10px;
}
input {
	margin: 3px;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


