<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>HelloServlets</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>


	<!-- DIRECT SERVLET CONFIGURATION -->
	<servlet>
		<servlet-name>DirServ</servlet-name>
		<servlet-class>com.example.servlet.DirectServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
		<!-- less than 0 means lazy load, 0 or greater means eager load from lowest 
			to highest -->
	</servlet>
	<servlet-mapping>
		<servlet-name>DirServ</servlet-name>
		<url-pattern>/dirserv</url-pattern>
		<!-- question can you have a second url pattern? -->
		<url-pattern>/otherdir</url-pattern>
	</servlet-mapping>
	<!-- INDIRECT SERVLET CONFIGURATIONS -->
	<servlet>
		<servlet-name>IndirServ</servlet-name>
		<servlet-class>com.example.indirectservlet.IndirectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndirServ</servlet-name>
		<url-pattern>/indirserv</url-pattern>
	</servlet-mapping>
	<!-- SESSION SERVLET CONFIGURATIONS -->
	<servlet>
		<servlet-name>SesServ</servlet-name>
		<servlet-class>com.example.sessionservlet.SessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SesServ</servlet-name>
		<url-pattern>/sesserv</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HelperSesServ</servlet-name>
		<servlet-class>com.example.sessionservlet.HelperSessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelperSesServ</servlet-name>
		<url-pattern>/helpersesserv</url-pattern>
	</servlet-mapping>
</web-app>