#home{
	
	background-image: url("images/dm1.png");
	background-repeat: no-repeat;
	background-size: cover; 
	background-color: rgb(0, 0, 30);
	background-position: top;
	height: 800px;
	
}

#account-page{
	
	background-image: url("images/bewd1.png");
	background-repeat: no-repeat;
	background-size: cover; 
	/* background-color: rgb(150); */
	background-position: top;
	height: 800px;
	
}

#fm-account-page{
	
	background-image: url("images/beud1.png");
	background-repeat: no-repeat;
	background-size: cover; 
	background-color: rgb(100,100,100);
	background-position: top;
	height: 800px;
	
}

#login-fail{
	background-image: url("images/traphole.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: top;
	height: 400px;
}

#process-fail{
	background-image: url("images/traphole.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: top;
	height: 400px;
	color: red;
}

#reimb-form{
	background-image: url("images/obelisk1.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: top;
	height: 400px;
	color: white;
	font-size: 20px;
}

.form-container{
	display: flex;
	flex-direction: center;
	justify-content: center;
	border: 3px solid purple;
	text-align: center;
	background-color: rgba(210, 180, 99, .5);
	color: white;
	
}



#login-form{
	border: 2px solid red;
	padding: 10px;
	margin: 10px;
	color: white;
	box-shadow: 0px 0px 34px 12px rgba(71,71,71,1);
	text-align: center;
	justify-content: center;
	
}

#reimb-table{
	color: black;
	background-color: rgba(210, 180, 99, .5);
	text-style: bold;
}

input{
	margin: 3px;
}

