<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>HelloConfigContext</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- servletcontext is accessible by every servlet.
			Similar to a global variable. -->
  <context-param>
  	<param-name>contextExample</param-name>
  	<param-value>Global pizza chains</param-value>
  </context-param>
  
  <!-- FIRST SERVLET -->
  <servlet>
  	<servlet-name>FirstServ</servlet-name>
  	<servlet-class>com.example.servlet.FirstServ</servlet-class>
  	<!-- servletconfig is accessible by only the specific 
  		servlet it is declared within.
				Similar to a local variable. -->
  	<init-param>
  		<param-name>configExample</param-name>
  		<param-value>Local pizza chains</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FirstServ</servlet-name>
  	<url-pattern>/fir</url-pattern>
  </servlet-mapping>
  <!-- SECOND SERVLET -->
  <servlet>
  	<servlet-name>SecondServ</servlet-name>
  	<servlet-class>com.example.servlet.SecondServ</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SecondServ</servlet-name>
  	<url-pattern>/sec</url-pattern>
  </servlet-mapping>
</web-app>